@page
@model IndexModel
@{
    ViewData["Title"] = "La Minute Referendum";
}

<div>
	@this.Model.TodaySurvey.Question;
</div>
<div>
	@foreach (var answer in this.Model.TodaySurvey.Answers)
	{
		<div>
			@answer.Text
		</div>
	}
</div>
